* {
        margin: 10px;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        display: flex;
        flex-direction: column;
        width: 5000px;
        height: 4000px
        
    }
    element.style {
        width: 4431;
        height: 1193;
    }

.road1 {
    image-resolution: calc(100%);
}
.road2 {
    image-resolution: calc(100%);
}
.road3 {
    width: 2000px;
}
.road4 {
    width: 2000px;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    position: absolute;
    animation-name: bluebox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
    
}
@keyframes bluebox {
    0% {
        top: 0;
        left: 0%;
        
    }
    25% {
        top: 0;
        left: calc(100% - 100px);
    }
    50% {
        top: calc(100% - 100px);
        left: calc(100% - 100px);
    }
    75% {
        top: calc(100% - 100px);
        left: 0;
    }
    100% {
        top: 0;
    
    }
 




}
