* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.road {
  flex: 1;
  overflow: hidden;
}

.road img {
  width: 100%;
  height: 100%;

}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    position: absolute;
    animation-name: bluebox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
    
}
@keyframes bluebox {
    0% {
        top: 0;
        left: 0%;
        
    }
    25% {
        top: 0;
        left: calc(100% - 100px);
    }
    50% {
        top: calc(100% - 100px);
        left: calc(100% - 100px);
    }
    75% {
        top: calc(100% - 100px);
        left: 0;
    }
    100% {
        top: 0;
    
    }

}
