* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.road {
  flex: 1;
  overflow: hidden;
}

.road img {
  width: 100%;
  height: 100%;

}

.wile {
    position: absolute;
    animation-name: wile;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    
    
}
.wile img {
    height: 50%;
    width: 50%;
}
@keyframes wile {
    0% {
         left: 0%;       
    }
    100% {
        left: 100%; 
        
    }
    
   

}
.mariobrother {
    position: absolute;
    animation-name: mariobrother;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    top: 15%;
    animation-timing-function: ease-in;
    
    
}
.mariobrother img {
    height: 40%;
    width: 40%;

}
@keyframes mariobrother {
    0% {
         left: 0%;       
    }
    100% {
        left: 100%; 
        
    }

}


.mario {
    position: absolute;
    animation-name: mario;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    top: 40%;
    animation-timing-function: ease-in;
    
    
}
.mario img {
    height: 25%;
    width: 25%;
}
@keyframes mario {
    0% {
         left: 0%;        
    }
    100% {
        left: 100%; 
        
    }
}
.marioface {
    position: absolute;
    animation-name: marioface;
    animation-duration:6s;
    animation-iteration-count: infinite;
    top: 85%;
    animation-timing-function: ease-in;
    
}
.marioface img {
    height: 50%;
    width: 50%;
}
@keyframes marioface {
    0% {
        left: 100%;     
    }
    100% {
        left: 0%;
    }
    
}
.logo {
    position: absolute;
    animation-name: logo;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    top: 10%;
}
.logo img {
    height: 50%;
    width: 50%;
}
@keyframes logo {
    0% {
        left: 100%;     
    }
    100% {
        left: 80%;
    }
}
.star {
    position: absolute;
    animation-name: star;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    
    top: 70%;
}
.star img {
    height: 20%;
    width: 20%;
}
@keyframes star {
    0% {
        left: 50%     
    }
    100% {
        left: 100%; 
    }
}